.type-pokemon{
  border: 1px solid black;
  text-align: center;
  padding: 1px 2px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'VT323', monospace;
  background-color: lightblue;
  border-radius: 3px;
  text-shadow: 1px 1px #000;
}

.type-normal{
  background-color: #A8A878;
}
.type-fire{
  background-color: #F08030;
}

.type-water{
  background-color: #6890F0;
}

.type-grass{
  background-color: #78C850;
}

.type-electric{
  background-color: #F8D030;
}

.type-ice{
  background-color: #98D8D8;
}

.type-fighting{
  background-color: #C03028;
}

.type-poison{
  background-color: #A040A0;
}

.type-ground{
  background-color: #E0C068;
}

.type-flying{
  background-color: #A890F0;
}

.type-psychic{
  background-color: #F85888;
}

.type-bug{
  background-color: #A8B820;
}

.type-rock{
  background-color: #B8A038;
}

.type-ghost{
  background-color: #705898;
}

.type-dark{
  background-color: #705848;
}

.type-dragon{
  background-color: #705848;
}

.type-steel{
  background-color: #B8B8D0;
}

.type-fairy{
  background-color: #F0B6BC;
}
